{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in... </p>
</section>

<img class="ui image medium centered" src="https://cdn.glitch.com/46e3e696-0890-4f99-89f8-985677366fbe%2Fweight.png?v=1599323713171">
