{{> menu id="settings"}}

<header class="ui header item">Update your Personal Information</header>
<div class="ui one column center aligned grid">
    <div class = column>
        <div class="ui raised segment">
            <h3>{{member.name}}</h3>
            <form class="ui form" action="/settings/updateName" method="POST">
                <div class="field">
                    <input placeholder="Update Name" type="text" name="newname">
                </div>
                <button class="ui blue submit button">Update Name</button>
            </form>
        </div>
        <div class="ui raised segment">
            <h3>{{member.gender}} <h3>
            <form class="ui form" action="/settings/updateGender" method="POST">
                <div class="field">
                    <input placeholder="Update Gender" type="text" name="newgender">
                </div>
                <button class="ui blue submit button">Update Gender</button>
            </form>
        </div>
        <div class="ui raised segment">
          <h3>{{member.address}}</h3>
            <form class="ui form" action="/settings/updateAddress" method="POST">
                <div class="field">
                    <input placeholder="Update Address" type="text" name="newaddress">
                </div>
                <button class="ui blue submit button">Update Address</button>
            </form>
        </div>
    </div>
</div>
