#{extends 'main.html' /}
#{set title:'Profile' /}

#{menu id:"profile"/}
<header class="ui header item">Update your Personal Information</header>
<div class="ui two column center aligned grid">
    <div class = column>
        <div class="ui raised segment">
            <h3>${member.name}</h3>
            <form class="ui form" action="/profile/updateName" method="POST">
                <div class="field">
                    <input placeholder="Update Name" type="text" name="newname">
                </div>
                <button class="ui blue submit button">Update Name</button>
            </form>
        </div>
        <div class="ui raised segment">
            <h3>${member.gender}</h3>
            <form class="ui form" action="/profile/updateGender" method="POST">
                <div class="field">
                    <input placeholder="Update Gender" type="text" name="newgender">
                </div>
                <button class="ui blue submit button">Update Gender</button>
            </form>
        </div>
    </div>
    <div class="column">
        <div class="ui raised segment">
            <h3>${member.email}</h3>
            <form class="ui form" action="/profile/updateEmail" method="POST">
                <div class="field">
                    <input placeholder="Update Email" type="text" name="newemail">
                </div>
                <button class="ui blue submit button">Update Email</button>
            </form>
        </div>
        <div class="ui raised segment">
            <h3>${member.address}</h3>
            <form class="ui form" action="/profile/updateAddress" method="POST">
                <div class="field">
                    <input placeholder="Update Address" type="text" name="newaddress">
                </div>
                <button class="ui blue submit button">Update Address</button>
            </form>
        </div>
    </div>
</div>
